<%- include('../inc/head.ejs') %>
<%- include('../inc/navi.ejs') %>
<form action="/member/join" method="POST" onsubmit="">
</form>
<script src="/js/join.js"></script>
<%- include('../inc/foot.ejs') %> 